<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Ecommerse Suite">
    <test name="Runner Tests">
        <classes>
            <class name="TestRunner.Loginrun"/>
            <class name="TestRunner.Registationrun"/>
            <class name="TestRunner.purchaserunner"/>
        </classes>
    </test>
</suite>

